@tailwind base;
@tailwind components;
@tailwind utilities;

 @keyframes bounceCustom {
  0%, 80%, 100% { transform: translateY(0); }
  40% { transform: translateY(-5px); }
}

.animate-bounce {
  animation: bounceCustom 1.4s infinite ease-in-out both;
}